@import "tailwindcss";

:root {
  --background: blue;
  --foreground: white;
  --font-rowdies: 'Rowdies', cursive;
  --font-cinzel: 'Cinzel', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: blue;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rowdies); /* Or var(--font-cinzel), depending on which you want globally */

}


